.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 480px) {
  .card{
    max-width: 70vw;
    max-height: 20vh;
  }
  .icon{
    left: 40vw;
  }

}
@media screen and (min-width: 481px) and (max-width: 768px) {
 .card{
    max-height: 20vh;
}

}

@media (30em <= width <= 50em) {
  /* … */
}
.container{
  display: flex;
  justify-content: center;
  background-color: #111e3a;
  min-height: 100vh;
  width: 100vw;
}
.heading{
  color: lawngreen;
}
.card{
  border: 1px solid none;
  align-content: center;
  text-align: center;
  color: #fff;
  margin: auto 0;
  background-color: rgb(56, 49, 49);
  padding: 40px;
  border-radius: 10px;
  position: relative;
  font-weight: 900;
}
.icon{
  border: 1px solid none;
  border-radius: 50%;
  padding: 10px;
  background-color: lawngreen;
  position: absolute;
  bottom: -20px;
  margin: auto;
}
